@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #fff;
}
